{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container-fluid">
        <div class="row justify-content-center">
            {% for beverage in beverages %}
                <div class="col-sm-5 col-10">
                    <div class="card my-3 p-4">
                        <div class="row">
                            <div class="col-4">
                                {% if "placeholder" in beverage.image.url %}
                                    <img class="card-img" src="{% static 'images/placeholder.jpg' %}"
                                        alt="placeholder image">
                                {% else %}
                                    <img src="{% static 'images/placeholder.png' %}" class="card-img" alt="Beverage image">
                                {% endif %}
            
                            </div>
                            <div class="col-8 card-body">
                                <h5 class="card-title">{{beverage.name}}</h5>
                                <p class="card-text">{{beverage.category}}</p>
                                <p class="card-text">{{beverage.price}}kr</p>
                                <p class="card-text">{{beverage.volume}}ml</p>
                                <p class="card-text">{{beverage.percentage}}%</p></p>
                                <p class="card-text">Apk {{beverage.apk}}</p>
                                <p class="card-text">Pris/standardenhet {{beverage.price_per_unit}}kr</p>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn btn-primary mt-3">Lägg till</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
